:root {
  --main-bgr-color: #2c394b;
  --dark-color: #082032;
  --accent-color: #ff4c29;
  --light-grey-color: #334756;
  --white-color: #ffffff;
  --transparent-white: #ffffffbb;

  --text-shadow: 3px 3px 2px var(--dark-color);
  --item-shadow: 6px 6px 8px var(--dark-color);
  --shadow-reversed: -6px 6px 8px var(--dark-color);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bgr-color);
  cursor: default;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--transparent-white);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}
